<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Your Shortened URL</h1>
    <p>Here is your shortened URL:</p>
    <a href="<%= shortenedUrl %>"><%= shortenedUrl %></a>
    <p>Scan the QR code to visit the URL:</p>
    <img src="<%= qrCodeDataUrl %>" alt="QR Code">
<<<<<<< HEAD
    <p><a href="/download/<%= slug %>">Download QR Code</a></p>
=======
>>>>>>> 305dc1039eb52bec3cec39d215e37f0a864e6373
</body>
</html>
